{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_product"> Add Product</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for entries in inventory %}
      <tr>
        <td>{{entries.id}}</td>
        <td>{{entries.product}}</td>
        <td>{{entries.quantity}}</td>
        <td>{{entries.price}}</td>
        <td>{{entries.create_date}}</td>
        <td><a href="edit_product/{{entries.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_product', id=entries.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
